 <!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>materiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>

<ion-segment (ionChange)="segmentChanged($event)">
  
  <ion-segment-button value="llaves">
    <ion-label>LLaves</ion-label>
  </ion-segment-button>

  <ion-segment-button value="proyector">
    <ion-label>Proyector</ion-label>
  </ion-segment-button>

  <ion-segment-button value="otros">
    <ion-label>Otros</ion-label>
  </ion-segment-button>

</ion-segment>
</ion-toolbar>

<ion-content>

  <ion-item>
    <ion-label position="floating">Llave:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-checkbox >Repuesto</ion-checkbox>

  <ion-button class ="top-20">Registrar</ion-button>

</ion-content> -->
<ion-header no-border translucent >
  <ion-toolbar>
  
    
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Materiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: linear-gradient(180deg,#002B7A 0,#D59F0F);">
  
  
  <!-- <ion-img src="../assets/escudo-d.png" Width=20% Height= 20%></ion-img> -->
  
  <ion-segment [(ngModel)]="segment">
    
    <ion-segment-button value="Llaves">
      Llaves
    </ion-segment-button>
    <ion-segment-button value="Proyectores">
      Adicionales
    </ion-segment-button>

  </ion-segment>


  <div [ngSwitch]="segment">
    <ion-card *ngSwitchCase="'Llaves'">
      <ion-card-header>
        Seleccione la llave o repuesto a escanear:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label stacked class="config-view__input-label">No. Llave:</ion-label>
          <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter) = "agregarItem()"></ion-input>
         
          <ion-button (click)="agregarItem()" > 
            <ion-icon slot="icon-only" name="arrow-round-forward" >

            </ion-icon>
          </ion-button>

        </ion-item>
       
       
      <ion-button (click)="scan()" >
        <ion-icon name="camera"></ion-icon> </ion-button>
        
      </ion-card-content>

    </ion-card>
  
    <ion-card *ngSwitchCase="'Proyectores'">
      <ion-card-header>
        Seleccione los elementos a escanear:
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label stacked class="config-view__input-label"> Id Material:</ion-label>
          <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter) = "agregarItem()">

          </ion-input>
         
          <ion-button (click)="agregarItem()" > 
            <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
          </ion-button>

        </ion-item>
       
       
      <ion-button (click)="scan()" >
        <ion-icon name="camera"></ion-icon>
      </ion-button>
      </ion-card-content>
    </ion-card>
  </div>


  <ion-card>
    <ion-card-header>
      <ion-label>Registros:</ion-label>

  </ion-card-header>

    <ion-card-content> 
      
<!-- NUESTRA LISTA DE OBJETOS  ESCANEADOS -->
      <ion-list>
        <ion-item-sliding disabled = "false" *ngFor="let item of lista.items; let i = index">
          
          <ion-item  >
            <ion-label>{{i+1}} {{item.desc}}</ion-label>
           
          </ion-item >
      
          <ion-item-options side="end">
            <ion-item-option color="danger"  (click)="delete(i)"> Borrar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        
      </ion-list> 


    </ion-card-content>
  </ion-card>
  <ion-button size="large" expand="block" routerLink="/resultado">Registrar</ion-button>
</ion-content>
