<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Nuevo Registro
    </ion-title>
  </ion-toolbar>
</ion-header>







<ion-content>

<ion-item-group>
  <ion-item-divider>
    <ion-label>Registro Manual</ion-label>
  </ion-item-divider>

  
<ion-item padding>
  <ion-label position="floating" >ID</ion-label>
  <ion-input type="text" [(ngModel)]="id" clearInput ="true"> </ion-input>

  <ion-button slot="end" (click)=" registrarID(id)" >Registrar</ion-button>

</ion-item>
 
<ion-item padding>
  <ion-label position="floating">RFC</ion-label>
  <ion-input type="text" [(ngModel)]="rfc" clearInput ="true"> </ion-input>

  <ion-button slot="end" (click)=" registrarRFC(rfc) ">Registrar</ion-button>

</ion-item>

</ion-item-group>




<ion-item-group>

  <ion-item-divider>
    <ion-label>Registro con Escaner</ion-label>
  </ion-item-divider>


  <ion-item>
    <ion-button class="ion-no-margin" (click)="scan()" size="large" >
      <ion-icon name="qr-scanner" ></ion-icon>
      Escanear QR
    </ion-button>
  </ion-item>


</ion-item-group>



 



  

</ion-content>


