
<!--<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Bienvenido </h3>
          </div>
          <div padding>
            <ion-item>
              <img src="https://www.acatlan.unam.mx/identidad-acatlan/img/Logotipos/Escudo/escudo-b.jpg" Width= 50% Height= auto>
              <ion-label position="floating">Usuario:</ion-label>
              <ion-input name="email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña:</ion-label>
              <ion-input name="password" type="password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" routerLink="/tabs">Entrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div text-center>
      Si no recuerda su contraseña de click<a routerLink='/register'>
        AQUÍ</a> .
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content> -->
<ion-header padding transparent>
  <p></p>

</ion-header>
<ion-content class="fondo"  fullscreen>

  <img src="assets/data/escudo.png" height="220" width="170" class="imgcenter" >



  <div class="login-page" >
    
    <div class="form" >

      <form  class="login-form" #formulario = "ngForm" (ngSubmit)="login(formulario)"  >
        
        <ion-list>

          <ion-item >
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" 
                       name ="nombre"
                       [(ngModel)]="usuario"
                       required
                       clearInput ="true"> </ion-input>

          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" 
                       name ="pass"
                       [(ngModel)]="password"
                       required
                       clearInput = "true">
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-button size="large" expand="block" (click)="signIn()" [disabled]="formulario.invalid">Entrar</ion-button>

<!-- F-->
        <p class="message">¿Olvidó su contraseña? <a href="/contrasena">Click aquí</a></p>
      </form>
    </div>
  </div>


</ion-content>

<ion-footer transparent>

  
    <ion-label>
      <ion-text class="easter"   >
        Desarrollo Incubadora Acatlán.
      </ion-text>
    
    </ion-label>
    

    <!-- (click)="presentAlert()" -->
</ion-footer>