<ion-header no-border >
  <ion-toolbar>
  
    
    <ion-buttons slot="start">
      <ion-back-button text="Cancelar" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-item>
    <ion-title>Confirme su solicitud</ion-title>

  </ion-item>
  <ion-card>
    <ion-card-content> 
     
       <p>Datos:</p> 
       <p> Entrega: Admin </p>
       <p> Reecibe:  Jorge Feregrino Feregrino  </p>
       <p>  24 Enero 2019  13:45:00 </p>


      <ion-list>
        
        <ion-item-sliding disabled = "true"> 
          <ion-item>
            <ion-label>Llaves A-1122 </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger"  (click)="unread(item)"> Borrar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>


        <ion-item-sliding disabled = "false"> 
          <ion-item>
            <ion-label> Proyector 4 </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger"  (click)="unread(item)"> Borrar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding disabled = "false"> 
          <ion-item>
            <ion-label> Bocina 1 </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger"  (click)="unread(item)"> Borrar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>


  

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button size="large" expand="block" routerLink="/tabs">Confirmar</ion-button>


</ion-content>
