<ion-tabs>
    <!-- feed -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="escaner">
        <ion-icon name="qr-scanner"></ion-icon>
        <ion-label>Escaner QR</ion-label>
      </ion-tab-button>
   <!-- messages -->
      <ion-tab-button tab="id">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Registro Id</ion-label>
      </ion-tab-button>
  <!-- Notifications -->
      <ion-tab-button tab="rfc">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Registro RFC</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  